{% extends 'base.html.twig' %}

{% block title %}Liste des Entreprises{% endblock %}

{% block body %}
    <h1>Liste des Entreprises</h1>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Dénomination Sociale</th>
                <th>Adresse</th>
                <th>Adresse de Livraison</th>
                <th>Adresse de Facturation</th>
                <th>SIREN</th>
                <th>Client</th>
                <th>Actuelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td>{{ entreprise.id }}</td>
                <td>{{ entreprise.denominationSociale }}</td>
                <td>{{ entreprise.adresse }}</td>
                <td>{{ entreprise.adresseLivraison }}</td>
                <td>{{ entreprise.adresseFacturation }}</td>
                <td>{{ entreprise.siren }}</td>
                <td>{{ entreprise.isClient ? 'Oui' : 'Non' }}</td>
                <td>{{ entreprise.isCurrent ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('app_entreprise_show', {'id': entreprise.id}) }}" class="btn btn-secondary">Afficher</a>
                    <a href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}" class="btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_entreprise_new') }}" class="btn btn-dark">Créer une nouvelle entreprise</a>
{% endblock %}
