{% extends 'base.html.twig' %}

{% block title %}Détails de l'Entreprise{% endblock %}

{% block body %}
    <h1>Détails de l'Entreprise</h1>

    <table class="table table-dark table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ entreprise.id }}</td>
            </tr>
            <tr>
                <th>Dénomination Sociale</th>
                <td>{{ entreprise.denominationSociale }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ entreprise.adresse }}</td>
            </tr>
            <tr>
                <th>Adresse de Livraison</th>
                <td>{{ entreprise.adresseLivraison }}</td>
            </tr>
            <tr>
                <th>Adresse de Facturation</th>
                <td>{{ entreprise.adresseFacturation }}</td>
            </tr>
            <tr>
                <th>SIREN</th>
                <td>{{ entreprise.siren }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ entreprise.isClient ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
                <th>Actuelle</th>
                <td>{{ entreprise.isCurrent ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between">
        <a href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}" class="btn btn-primary">Modifier</a>
        <a href="{{ path('app_entreprise_index') }}" class="btn btn-dark">Retour à la liste</a>
    </div>

    {{ include('entreprise/_delete_form.html.twig') }}
{% endblock %}
