{% extends 'base.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    <h1>Activity index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Statut</th>
                <th>Développeur</th>
                <th>Suppléments</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.date ? activity.date|date('d/m/Y') : '' }}</td>
                <td>{{ activity.status ? 'Actif' : 'Inactif' }}</td>
                <td>{{ activity.user }}</td>
                <td>
                    <ul>
                        {% for supplement in activity.supplements %}
                            <li>{{ supplement.label }} - {{ supplement.percentage }}%</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <a href="{{ path('app_activity_show', {'id': activity.id}) }}">show</a>
                    <a href="{{ path('app_activity_edit', {'id': activity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_activity_new') }}">Create new</a>
    <button><a href="{{ path('app_show_activities')}}">Générer une facture</a></button>
{% endblock %}
