{% extends 'base.html.twig' %}

{% block title %}Détails de l'Activité{% endblock %}

{% block body %}
    <h1>Détails de l'Activité</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ activity.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ activity.date ? activity.date|date('d/m/Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ activity.status ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <a type="button" class="btn btn-dark" href="{{ path('app_activity_index') }}">Retour à la liste</a>
    <a type="button" class="btn btn-dark" href="{{ path('app_activity_edit', {'id': activity.id}) }}">Modifier</a>

    {{ include('activity/_delete_form.html.twig') }}
{% endblock %}
