{# templates/activity/show_activities.html.twig #} {% extends 'base.html.twig'
%} {% block body %}
<h2>
  Activities between {{ startDate|date('Y-m-d') }} and {{ endDate|date('Y-m-d')
  }}
</h2>

{% if activities is empty %}
<p>No activities found for the selected date range.</p>
{% endif %}


{% for activity in activities %} {% if activity.isStatus() %}
<h2> {{ activity.getUser() }}</h2>
<p>Date: {{ activity.getDate() | date('Y-m-d H:i:s') }}
Status: {{ activity.isStatus() ? 'Active' : 'Inactive' }}</p>

<h6>Supplements:</h6>
<ul>
  {% for supplement in activity.getSupplements() %}
  <li>{{ supplement.getLabel() }} - {{ supplement.getPercentage() }}%</li>
  {% endfor %}
</ul>

<p>Total Cost: {{ activity.calculateTotalCost() }}</p>
{% endif %} 
{% endfor %} 
<h1>Total</h1>
<p>{{totalCost}}</p>
{% endblock %}
