{% extends 'base.html.twig' %}

{% block body %}
    <h2>Activités du {{ startDate|date('d/m/Y') }} au {{ endDate|date('d/m/Y') }}</h2>

    {% if activities is empty %}
        <p>Aucune activité trouvée pour la période sélectionnée.</p>
    {% else %}
        {% for activity in activities %}
            <div>
                <h3>Activité de {{ activity.user }}</h3>
                <p>Date : {{ activity.date | date('d/m/Y H:i') }}</p>
                <p>Statut : {{ activity.status ? 'Actif' : 'Inactif' }}</p>
                <h6>Suppléments :</h6>
                <ul>
                    {% for supplement in activity.supplements %}
                        <li>{{ supplement.label }} - {{ supplement.percentage }}%</li>
                    {% endfor %}
                </ul>
                <p>Coût Total : {{ activity.calculateTotalCost() }}</p>
            </div>
        {% endfor %}
        <h1>Total</h1>
        <p>{{ totalCost }}</p>
    {% endif %}
{% endblock %}
