{% extends 'base.html.twig' %}

{% block title %}Index des Suppléments{% endblock %}

{% block body %}
    <h1>Liste des Suppléments</h1>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Libellé</th>
                <th>Pourcentage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for supplement in supplements %}
            <tr>
                <td>{{ supplement.id }}</td>
                <td>{{ supplement.label }}</td>
                <td>{{ supplement.percentage }}%</td>
                <td>
                    <a role="button" class="btn btn-secondary" href="{{ path('app_supplement_show', {'id': supplement.id}) }}">Afficher</a>
                    <a role="button" class="btn btn-primary" href="{{ path('app_supplement_edit', {'id': supplement.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a type="button" class="btn btn-dark" href="{{ path('app_supplement_new') }}">Créer un nouveau</a>
{% endblock %}
