{% extends 'base.html.twig' %}

{% block title %}Détails du Supplément{% endblock %}

{% block body %}
    <h1>Détails du Supplément</h1>

    <table class="table table-dark table-striped">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ supplement.id }}</td>
            </tr>
            <tr>
                <th>Libellé</th>
                <td>{{ supplement.label }}</td>
            </tr>
            <tr>
                <th>Pourcentage</th>
                <td>{{ supplement.percentage }}%</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between">
        <a role="button" class="btn btn-primary" href="{{ path('app_supplement_edit', {'id': supplement.id}) }}">Modifier</a>
        <a role="button" class="btn btn-dark" href="{{ path('app_supplement_index') }}">Retour à la liste</a>
    </div>

    {{ include('supplement/_delete_form.html.twig') }}
{% endblock %}
