{% extends 'base.html.twig' %}

{% block title %}Supplement{% endblock %}

{% block body %}
    <h1>Supplement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ supplement.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ supplement.label }}</td>
            </tr>
            <tr>
                <th>Percentage</th>
                <td>{{ supplement.percentage }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_supplement_index') }}">back to list</a>

    <a href="{{ path('app_supplement_edit', {'id': supplement.id}) }}">edit</a>

    {{ include('supplement/_delete_form.html.twig') }}
{% endblock %}
