{% extends 'base.html.twig' %}

{% block title %}Liste des Options{% endblock %}

{% block body %}
    <h1>Liste des Options</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Libellé</th>
                <th>Pourcentage</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for option in options %}
            <tr>
                <td>{{ option.id }}</td>
                <td>{{ option.label }}</td>
                <td>{{ option.percentage }}%</td>
                <td>
                    <a href="{{ path('app_option_show', {'id': option.id}) }}" class="btn btn-secondary">Afficher</a>
                    <a href="{{ path('app_option_edit', {'id': option.id}) }}" class="btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_option_new') }}" class="btn btn-dark">Créer une nouvelle option</a>
{% endblock %}
